@import 'tailwindcss';

@theme {
  --font-sans: "Helvetica Neue", "Arial", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body, html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

::view-transition-group(*) {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
